requests>=2.31.0
python-dotenv>=1.0.0
azure-devops
azure-identity>=1.13.0
google-generativeai>=0.3.1
google-genai
fastapi>=0.109.0
uvicorn>=0.27.0
starlette>=0.36.0
openai
redis
httpx>=0.24.0
asgiref
aiolimiter>=1.1.0